// ** Imports **//
//** Bu yerda layouts scss kodlari **// //**여기에서 layouts scss 코디 설지했음 **//

#pc-wrap{
  width:100%;
  height: 100;
   .container{
    position: relative;
    width: 1300px;
    margin: 0 auto;
    display: flex;
   }
}